# Logs
logs
*.log
npm-debug.log*
node_modules
*.local
openapi-ts-error*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Built Files
dist-server
dist-client
